/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/****** WRITE YOUR CODE HERE PANTS!! ********/

/****** 

Color Codes:
Dark Grey: #2e2e2e
Lighter Grey: #808181
Blue: #03deff
Orange: #ff8003
Green: #95ff78

*****/

/*
===================================================================
BASIC STYLES
===================================================================
*/

html, body {
	font-size: 16px;
	background-color: #2e2e2e;
	font-family: Kreon, serif;
}

.full-width {
	width: 94%;
	margin: 0 3%;
}

/*
===================================================================
MOBILE STYLES
===================================================================
*/

/***** HEADER STYLES *****/

#logo {
	width: 100%;
}

nav ul li {
	list-style: none;
	text-align: center;
	font-size: 1.5em;
	margin-left: -40px;
	line-height: 1.75em;
	border-bottom: 1px solid #808181;
	font-family: Just Another Hand, sans-serif;
}

	nav ul li:nth-child(1) {
		border-top: 1px solid #808181;
	}

nav ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li a:hover {
	color: #95ff78;
}

.hustle-img {
	width: 100%;
	margin-top: -16px;
}

header h2 {
	color: #fff;
	padding-bottom: 10px;
	font-family: Londrina Solid, sans-serif;
	font-weight: 300;
}

header h2 span {
	color: #808181;
}

/***** ABOUT ME STYLES *****/

#about {
	background-color: #fff;
	margin-bottom: -20px;
	padding: 5px 0 40px 0;
}

#about h1 {
	font-family: Londrina Solid;
	font-weight: 400;
	font-size: 2em;
}

#about .flex-paragraphs {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	width: 100%;
}

#about .paragraph {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: flex-start;
	width: 100%;
	font-size: .9em;
	color: #808181;
}

/***** PORTFOLIO STYLES *****/

#work {
	background-color: #95ff78;
	padding: 20px 0
}

.dev-head {
	font-family: Londrina Solid;
	font-weight: 400;
	font-size: 2em
}

#work img {
	width: 100%;
	margin-bottom: 3%;
}

/***** CONTACT STYLES *****/

#contact {
	padding: 30px 0;
}

.contact-img {
	width: 100%;
}

#contact .contact-info {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-direction: column;
	text-align: center;
	color: #fff;
}

.header-1, .header-2, .header-3 {
	font-family: Londrina Solid;
	font-weight: 300;
	font-size: 1.5em;
}

.header-2 {
	margin-top:  -15px;
}

.email {
	text-decoration: none;
	color: #95ff78;
}

.envelope {
	margin-right: 2%;
}

.email, .envelope {
	margin-top: -7px;
}

.header-3 {
	margin-top: 45px;
}

.social-media {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: no-wrap;
	margin-top: -15px;
}

.social-media ul {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: center;
	width: 100%;
}

.social-media ul li {
	list-style: none;
	margin-right: 5%;
}

/***** FOOTER *****/

footer {
	padding: 30px 0;
	border-top: 1px solid #808181;
}

footer h3 {
	text-align: center;
	color: #fff;
	font-size: .75em;
	font-weight: 200;
	font-family: Kreon;
}

/*
==========================================================================
PORTFOLIO PAGE STYLES - MOBILE
==========================================================================
*/

/***** HEADER *****/

.pp-header {
	border-bottom: 5px solid #808181;
}

.pp-header #logo {
	width: 100%;
}

/***** PORTFOLIO PIECE *****/

#portfolio-page h1 {
	text-align: center;
	color: #fff;
	font-family: Londrina Solid;
	letter-spacing: 1px;
	font-weight: 300;
}

#portfolio-page p {
	color: #fff;
	padding-bottom: 100px;
	font-family: Kreon;
}

#portfolio-page img {
	width: 100%;
	height: 100%;
	margin-bottom: 3%;
}

/***** SOCIAL SECTION *****/

#portfolio-social {
	padding: 100px 0 30px 0;
}

/*
==========================================================
Blog Index Page - Mobile
==========================================================
*/

/***** HEADER *****/

.blog-header {
	border-bottom: 5px solid #808181;
}

.blog-header #logo {
	width: 100%;
}

/***** MAIN *****/

#blog-main {
	padding: 200px 0;
}

#blog-main h1 {
	text-align: center;
	color: #fff;
	font-family: Londrina Solid;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 2.5em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    
/*
========================================================
TABLET STYLES HERE
========================================================
*/

/***** HEADER STYLES *****/

header {
	background:url(../img/hustle.jpg) no-repeat center;
	background-size: cover;
	margin-top: -16px;
	padding-bottom: 200px;
}

#logo {
	width: 25%;
	float: left;
}

.hustle-img {
	display: none;
}

nav ul {
	float: right;
	width: 65%;
	padding-top: 10%;
}

nav ul li {
	display: inline;
	font-size: 1.125em;
	padding-right: 3%;
	font-weight: 300;
	border-bottom: none;
	line-height: 0;
	margin-left: 0px;
}

nav ul li:nth-child(1) {
	padding-left: 54%;
	border-top: none;
}

header h2 {
	padding-top: 100px;
	clear: both;
	width: 85%;
	font-size: 2em;
	font-weight: 400;
	letter-spacing: 1px;
	margin-left: 11%;
	text-align: right;
}

header h2 span {
	color: #95ff78;
}

/***** ABOUT ME STYLES *****/

#about {
	margin-top: -26px;
	padding-top: 15px;
	padding-bottom: 45px
}

#about .flex-paragraphs {
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
}

#about .paragraph {
	width: 94%;
	justify-content: center;
	font-size: 1em;
}

/***** PORTFOLIO STYLES *****/

#work {
	padding-bottom: 40px;
}

#work #developer-portfolio {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#work #developer-portfolio .flex-pics {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 49%;
}

/***** CONTACT STYLES *****/

#contact {
	padding: 50px 0;
}

.flex-contact {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 95%;
	padding-left: 5%;
}

.contact-img {
	height: 100%;
}

#contact .contact-info {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	text-align: left;
	width: 100%;
	padding-left: 5%;
}

#contact .header-1 {
	margin-top: 3%;
}

#contact .header-2 {
	margin-top: -4%;
}

#contact .header-3 {
	margin: 8% 0 -1% 0;
}

.social-media {
	margin-top: 0;
}

.social-media ul {
	justify-content: flex-start;
	width: 100%;
}

#contact .full-width {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	justify-content: space-between;
	margin-left: 0;
}

#contact .half-width {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 50%;
	overflow: hidden;
}

/*
==================================================
PORTFOLIO PAGE STYLES - TABLET 
==================================================
*/

/***** HEADER *****/

.pp-header {
	background-color: #2e2e2e;
	background-image: none;
	padding-bottom: 0;
}

.pp-header .full-width {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: center;
}

.pp-header .half-width {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: center;
}

.pp-header #logo {
	float: none;
}

.pp-header #logo img {
	max-width: 200px;
}

.pp-header a {
	width: 25%;
	height: 100%;	
}

/***** PORTFOLIO SECTION *****/

#portfolio-page h1 {
	font-size: 2.25em;
}

.flex-description {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	justify-content: center;
}

.description {
	width: 75%;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	font-size: 1.125em;
}

#portfolio-page .portfolio-image {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
}

#portfolio-page .pp-flex-pics, #portfolio-page .pp-flex-pics a {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	justify-content: center;
}

#portfolio-page img {
	width: 75%;
}

/***** CONTACT *****/

#portfolio-social .social-media {
	margin-left: 0;
}

#portfolio-social .social-media ul {
	justify-content: center;
}

/***** FOOTER *****/

footer h3 {
	font-size: .9em;
}

/*
===================================================================
BLOG HOMEPAGE - TABLET
===================================================================
*/

/***** HEADER *****/

.blog-header {
	background-color: #2e2e2e;
	background-image: none;
	padding-bottom: 0;
}

.blog-header .full-width {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: center;
}

.blog-header .half-width {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: center;
}

.blog-header #logo {
	float: none;
}

.blog-header #logo img {
	max-width: 200px;
}

.blog-header a {
	width: 25%;
	height: 100%;	
}

/***** MAIN *****/

#blog-main {
	padding: 300px 0;
}

#blog-main h1 {
	font-size: 4em;
}

}

@media only screen and (min-width: 940px) {

/*
====================================================================
DESKTOP STYLES - HOMEPAGE
====================================================================
*/

/***** HEADER *****/

nav ul li {
	font-size: 1.25em;
}

nav ul li:nth-child(1) {
	padding-left: 60%;
}

header h2 {
	font-size: 2.5em;
}

/***** ABOUT ME *****/

#about {
	padding-bottom: 50px;
}

#about h1 {
	font-size: 2.5em;
}

#about p {
	font-size: 1.125em;
}

/***** PORTFOLIO *****/

#work {
	padding-bottom: 50px;
	padding-top: 30px;
}

#work #developer-portfolio {
	justify-content: flex-start;
}

#work #developer-portfolio .flex-pics {
	width: 32%;
	margin-right: 1%;
}

/***** CONTACT *****/

.contact-img {
	max-width: 750px;
}

#contact .contact-info {
	padding-left: 12%;
}

#contact .header-1 {
	margin-top: 6%;
}

.email {
	font-size: 1.25em
}

.header-1, .header-2, .header-3 {
	font-size: 1.75em;
}

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
